<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Login</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/content">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mw-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container d-flex justify-content-center main-content">
        <form id="form" action="#">
            <legend>Login</legend>
            <div class="mb-3">
                <label for="email-input" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email-input" name="email" placeholder="example@gmail.com" required />
                <div id="email-input" class="invalid-feedback">
                    Check your credentials.
                </div>
            </div>
            <div class="mb-3">
                <label for="password-input" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-input" name="password" placeholder="**********" required />
                <div id="password-input" class="invalid-feedback">
                    Check your credentials.
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-danger mb-3">Login</button>
            </div>
            <div class="text-center">
                <div>Do not have account yet?</div>
                <div><a href="/signup">Register</a></div>
            </div>
        </form>
    </main>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/login.js"></script>
</body>

</html>