body {
    background: rgb(255,201,228);
    background: linear-gradient(45deg, rgba(255,201,228,1) 0%, rgba(207,236,255,1) 100%) no-repeat;
    min-height: 100vh;
}

.main-content {
    padding-top: 200px;
}

#form {
    border: 1px solid grey;
    border-radius: 7px;
    padding: 30px 50px;
    background-color: #fff;
}