<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body{
            padding: 20px;
        }
    </style>
    <title>Unauthorized</title>
</head>
<body>
    <h1>Unauthorized</h1>
    <h2><a href="/login">Please, login</a></h2>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>