body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #74D7F3;
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
}

main {
    display: flex;
}

.block {
    font-size: 24px;
    text-align: center;
}

.block > div {
    line-height: 100%;
    padding: calc(50vh - 100px) 0;
}

.block1 {
    flex-grow: 1;
    background-color: #94F8B3;
}

.block2 {
    flex-grow: 2;
    background-color: #F7F894;
}

.block3 {
    flex-grow: 1;
    background-color: #F094F8;
}

.footer {
    background-color: #F8E2B0;
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
}